<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.html">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/nuestrosperritos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/ico.png">
    <title>Nuestros perritos</title>
</head>

<body>
    <div class="contenedor">
        <header class="encabezado">
            <div>
                <h1>Refugio Patitas</h1>
                <img class="logo" src="../static/img/logo.avif" alt="logo">
                <nav>
                    <a class="hipervinc" href="../index.html">INICIO</a>
                    <a class="hipervinc" href="../templates/adopcion.html">ADOPCIÓN</a>
                    <a class="hipervinc activo" href="../templates/nuestrosperritos.html">NUESTROS PERRITOS</a>
                    <a class="hipervinc" href="../templates/refugios.html">REFUGIOS</a>
                    <a class="hipervinc" href="../templates/contacto.html">CONTACTOS</a>
                </nav>
                <p class="p-1">"Mis perros han sido la razón por la que he despertado todos los días de mi vida con una
                    sonrisa en la cara" Jennifer Skiff</p>
            </div>
        </header>

        <main class="containernuestrosperritos">

            <p id="parrafofoto">Algunos de Nuestros Perritos!!!</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/1.jpg" alt="1">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/1.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Te estoy esperando! Adoptame!</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/2.jpg" alt="2">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/2.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/2.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Los Tres Mosqueteros</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/3.jpg" alt="3">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/3.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/3.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Te estamos buscando</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/4.jpg" alt="4">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/4.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/4.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">LLegamos hoy!!!!</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/5.jpg" alt="5">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/5.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/5.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Hola me llamo Sam!!!</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/6.jpg" alt="6">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/6.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/6.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Ella es Cira! esta esperando un hogar</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/7.jpg" alt="7">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/7.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/7.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Pelusa y el nuevo integrante, Bienvenido.-</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/8.jpg" alt="8">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/8.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/8.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">El Negro</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/9.jpg" alt="9">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/9.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/9.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>

            <p id="parrafofoto">Rocky y Pelusa descansando!!!</p>
            <div class="perritos">
                <img class="galeria" src="../static/img/10.jpg" alt="10">
            </div>
            <br>
            <div class="piedefotocaja"> 
                <a class="piedefoto" href="../static/img/10.jpg" target="_blank">Ver imagen</a>
                <br>
                <a class="piedefoto" href="../static/img/10.jpg" download="">Descargar imagen</a>
                <br>
                <a class="piedefoto" href="mailto:">Enviar correo</a>
                <br>
            </div>
        </main>

    <aside class="barranuestrosperritos">
        <h2>Algunos Datos</h2>
        <br>
        <p>¿De dónde provienen las mascotas que están publicadas en ésta Web???
            <br>
            <br>
            Todas las mascotas que recibimos en nuestras tiendas son rescatadas.
            Son animales que se encontraban en situaciones de calle, abandono o maltrato.
            Gracias al trabajo de nuestro equipo, fundaciones y rescatistas logramos ayudarlas a recuperarse
            brindándoles un hogar de tránsito y toda la atención de especialistas.
            Estas mascotas ya estàn preparadas para iniciar una adaptaciòn y poder integrar una nueva familia.
        </p>
    </aside>

    <div class="cajanuestrosperritos1">
        <h3>¿Es necesario completar todo el Formulario?</h3>
        <br>
        <p>
            Sí, es necesario y obligatorio. Es nuestro deber proteger a las mascotas. Adoptarlas es asumir un
            compromiso de por vida. Son animales que han sufrido situaciones complejas y que a través del cuidado y
            amor tanto de nuestro equipo como de los rescatistas involucrados logramos reinsertarlos y prepararlos
            para volver a integrar una familia. Tenemos que asegurarnos todos que son el Match ideal, que tanto la
            mascota se adapta a las condiciones de vida de la nueva familia como la familia a las características de
            las mascotas.
            <br>
            <br>
        <nav>
            <a class="hipervinc" href="../templates/adopcion.html"> ir a...ADOPCIÓN</a>
        </nav>
        </p>
    </div>

    <div class="cajanuestrosperritos2">
        <h4>¿Cuáles son los cuidados que debe recibir mi mascota?</h4>
        <br>
        <p>
            Desparasitación, Vacunación, Alimentación. Todos procesos con los que te irás familiarizando a lo largo
            de la vida de tu amigo peludo. Es muy importante que te acerques a un veterinario que pueda recomendarte
            y enseñarte sobre las vacunas que necesita, cuándo aplicarlas, cómo realizar una correcta
            desparasitación, según peso, hábitos, edad, yqué alimento cubre las necesidades de tu mascota.</p>
    </div>

    <footer class="pienuestrosperritos">
        <div>
            <div id="hoverpie">
                <img class="logo" src="../static/img/Twitter.jpg" alt="x">
                <a class="hiperfooter" href="https://twitter.com/?lang=es" target="_blank">Twitter</a>
                <img class="logo" src="../static/img/facebook.png" alt="face">
                <a class="hiperfooter" href="https://www.facebook.com/?locale=es_LA" target="_blank">Facebook</a>
            </div>
            <div>
                <h5>Copyright &copy; 2024 Ezequiel Cespedes - Ricardo González</h5>
            </div>
        </div>
    </footer>
    </div>

</body>

</html>